header {
    font-family: $headFootFont;
    background-color: $darkColor;
    padding: 2rem;
    @include flexRowJA(space-between, center);
    .open-menu {
        display: none;
    }
    nav {
        width: auto;
        @include flexRowJA (space-between, center);
        .close-menu {
            display: none;
        }
        ul {
            @include flexRowJA (space-between, center);
            gap: 1rem;
            li {
                list-style-type: none;
                
            }
        }
        div {
            @include flexColumnJA (center, center);
        }
    }
    a {
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
}