header {
    font-family: $headFootFont;
    background-color: $darkColor;
    padding: 2rem;
    @include flexRowJA(space-around, center);
    .open-menu {
        display: none;
    }
    nav {
        .close-menu {
            display: none;
        }
        ul {
            @include flexRowJA (center, center);
            gap: 1rem;
            li {
                list-style-type: none;
                a {
                    text-decoration: none;
                }
                a:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    div {
        @include flexColumnJA (center, center);
    }
}