@media screen and (max-width: 750px) {
    header {
        h1 {
            font-size: 3rem;
        }
        .open-menu {
            display: block;
            border: 0;
            background-color: $darkColor;
            font-size: 4rem;
        }
        nav {
            opacity: 0;
            visibility: hidden;
            font-size: 2rem;
            @include flexColumnA (end);
            gap: 1rem;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            padding: 2rem;
            background-color: $darkColor;
            box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
            .close-menu {
                display: block;
                border: 0;
                background-color: $darkColor;
                font-size: 2rem;
            }
            ul {
                @include flexColumnA (end);
            }
        }
        .visible {
            opacity: 1;
            visibility: visible;
        }
    }
}