@media screen and (max-width: 1024px) {
    main {
        width: 80%;
    }
}

@media screen and (max-width: 750px) {
    html {
        font-size: 10px;
    }
    header {
        @include flexRowJA (space-between, center);
        h1 {
            font-size: 3rem;
        }
        .open-menu {
            display: block;
            border: 0;
            background-color: $darkColor;
            font-size: 3rem;
        }
        nav {
            opacity: 0;
            visibility: hidden;
            font-size: 2rem;
            @include flexColumnJA (space-between, end);
            gap: 1rem;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            padding: 2rem;
            z-index: 10;
            background-color: $darkColor;
            box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
            .close-menu {
                display: block;
                border: 0;
                background-color: $darkColor;
                font-size: 2rem;
            }
            ul {
                @include flexColumnA (end);
            }
            div {
                align-items: end;
            }
        }
        .visible {
            opacity: 1;
            visibility: visible;
        }
    }
    main {
        width: 100%;
    }
    .biblioteca {
        .grid-conteiner {
            grid-template-columns: 0.5fr 1fr 1fr;
            grid-template-rows: auto auto auto;
            grid-template-areas: 
            "aside video video"
            "aside play play"
            "aside achiev achiev";
            .game-play {
                align-items: center;
                a {
                    width: 20%;
                }
            }
        }
    }
    .acerca_de {
        section {
            @include flexColumn;
            .acerca_de-text {
                width: 100%;
            }
            .acerca_de-img {
                width: 100%;
                @include flexRowJA (space-around, center);
                img {
                    width: 100%;
                    max-width: 150px;
                    height: auto;
                }
            }
        }
    }
}

