.biblioteca {
    padding: 2rem;
    gap: 2rem;
    h2 {
        width: 100%;
    }
    .grid-conteiner {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: auto auto;
        grid-template-areas: 
        "aside video video video video"
        "aside play play achiev achiev";
        gap: 1rem;
        .aside {
            grid-area: aside;
            background-color: #2D2E2E;
            border: solid black 1px;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            ul {
                width: 70%;
                li {
                    padding: 10px 0px;
                    margin: 5px 0px;
                    border-bottom: solid black 1px;
                    text-align: center;
                }
            }
        }
        .video {
            grid-area: video;
            background-color: #2D2E2E;
            border: solid black 1px;
            video {
                width: 100%;
                height: auto;
                display: block;
            }
        }
        .game-play {
            grid-area: play;
            padding: 1rem;
            gap: 1rem;
            background-color: $lightColor;
            border: solid black 1px;
            @include flexColumnJA (center, start);
            p {
                text-indent: 2rem;
            }
            a {
                width: 100%;
                padding: 0.5rem;
                text-align: center;
                background-color: #1E1F1F;
                border: solid black 1px;
            }
            a:hover {
                background-color: #0F0F0F;
                text-decoration: none;
            }
        }
        .game-achievement {
            grid-area: achiev;
            padding: 1rem;
            gap: 1rem;
            background-color: $lightColor;
            border: solid black 1px;
            @include flexColumn;
            div {
                gap: 1rem;
                @include flexRowJA (start, start);
                img {
                    width: 50px;
                    height: auto;
                    background-color: $fontColor;
                }
            }
        }
    }
}
