.comunidad {
    padding: 2rem;
    gap: 2rem;
    h2 {
        width: 100%;
    }
    section {
        width: 100%;
        gap: 1rem;
        @include flexColumn;
        article {
            width: 100%;
            height: auto;
            padding: 1rem;
            gap: 1rem;
            background-color: $lightColor;
            border: solid black 1px;
            @include flexRowJA (space-between, center);
            .foro-name {
                width: 70%;
                gap: 1rem;
                @include flexColumnJA (center, start);
            }
            .last-update {
                width: 30%;
                gap: 1rem;
                @include flexColumnJA (center, end);
            }
        }
    }
}
