.contacto {
    padding: 2rem;
    gap: 2rem;
    h2 {
        width: 100%;
    }
    section {
        width: 100%;
        padding: 1rem;
        gap: 2rem;
        border: solid black 1px;
        background-color: $lightColor;
        @include flexColumn;
        form {
            width: 100%;
            gap: 2rem;
            @include flexRowJ (start);
            .contacto-description {
                gap: 1rem;
                @include flexColumn;
            }
            .contacto-fill {
                gap: 1rem;
                @include flexColumn;
                input {
                    width: 20rem;
                }
                textarea {
                    height: 10rem;
                }
                a {
                    text-align: center;
                    padding: 0.5rem;
                    border: solid black 1px;
                    background-color: $mediumColor;
                }
                a:hover {
                    text-decoration: none;
                    background-color: $darkColor;
                }
            }
        }

    }
}