.contacto {
    padding: 2rem;
    gap: 2rem;
    h2 {
        width: 100%;
    }
    section {
        width: 100%;
        padding: 1rem;
        gap: 2rem;
        border: solid black 1px;
        background-color: $lightColor;
        @include flexColumn;
        form {
            gap: 2rem;
            @include flexColumn;
            .contacto-mail {
                @include flexRow;
                label {
                    width: 100px;
                }
                input {
                    width: 250px;
                }
            }
            .contacto-message {
                @include flexRow;
                label {
                    width: 100px;
                }
                textarea {
                    width: 250px;
                    height: 100px;
                }
            }
        }
        a {
            width: 250px;
            padding: 5px;
            margin-left: 100px;
            border: solid black 1px;
            background-color: $mediumColor;
            text-align: center;
        }
        a:hover {
            background-color: $darkColor;
            text-decoration: none;
        }
    }
}