* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Paleta de colores
OSCURO: #0F0F0F
MEDIO: #1E1F1F
CLARO: #2D2E2E */

/* GENERAL STYLE*/

body {
    background-color: #2D2E2E;
    color: #b3b3b3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    background-color: #0F0F0F;
    font-family: "Kanit", serif;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header ul, footer ul {
    display: flex;
}

header a {
    margin: 0px 10px;
}

main {
    background-color: #1E1F1F;
    width: 100%;
    font-family: "Signika Negative", serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1024px) {
    main {
        width: 65%;
    }
}

footer {
    background-color: #0F0F0F;
    font-family: "Signika Negative", serif;
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li {
    list-style: none;
}

footer p {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #b3b3b3;
}

a:hover {
    text-decoration: underline;
}

p, span{
    font-family: "Quicksand", serif;
}

.flex-conteiner {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-conteiner h2 {
    width: 100%;
    padding: 20px;
}

.flex-conteiner section {
    width: 100%;
}

/* INDEX STYLE */

.index-banner {
    background-color: #818181;
    width: 100%;
    height: 50vh;
}

.index-banner-img {
    width: 100%;
    height: 50vh;
}

.index-category-select {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.index-category-select form {
    padding: 10px;
}

.index-category-select ul {
    display: flex;
    flex-direction: row;
}

.index-category-select li {
    padding: 10px;
}

.index-category-gamelist {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.index-category-gamelist h2 {
    padding: 10px;
}

.index-category-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.index-article {
    margin: 15px;
    width: 200px;
    height: auto;
    background-color: #2D2E2E;
    border: solid black 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

article img {
    background-color: #818181;
    height: 200px;
    width: 100%;
}

.index-article h3 {
    width: 100%;
    height: auto;
    padding: 5px;
    border-bottom: solid black 1px;
}

.index-article p {
    width: 100%;
    height: auto;
    padding: 5px;
    border-bottom:solid black 1px;
}

.index-article div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.index-article a {
    padding: 5px;
    border-right: solid black 1px;
}

.index-article a:hover {
    background-color: #0F0F0F;
    text-decoration: none;
}

.index-article span {
    width: 100%;
    text-align: center;
}

/* BIBLIOTECA STYLE */

.grid-conteiner {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 400px auto;
    grid-template-areas: 
    "aside video video video video"
    "aside play play achiev achiev";
    gap: 10px;
}

.aside {
    grid-area: aside;
    background-color: #2D2E2E;
    border: solid black 1px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.aside ul {
    width: 70%;
}

.aside li {
    padding: 10px 0px;
    margin: 5px 0px;
    border-bottom: solid black 1px;
    text-align: center;
}

.video {
    grid-area: video;
    background-color: #2D2E2E;
    border: solid black 1px;
}

.video video {
    width: 100%;
    height: 100%;
}

.game-play {
    grid-area: play;
    padding: 25px;
    background-color: #2D2E2E;
    border: solid black 1px;
    display: flex;
    flex-direction: column;
}

.game-play h3 {
    height: 10%;
}

.game-play p {
    height: 80%;
    text-indent: 30px;
}

.game-play a {
    height: 10%;
    text-align: center;
    line-height: 40px;
    background-color: #1E1F1F;
    border: solid black 1px;
}

.game-play a:hover {
    background-color: #0F0F0F;
    text-decoration: none;
}

.game-achievement {
    grid-area: achiev;
    padding: 25px;
    background-color: #2D2E2E;
    border: solid black 1px;
    display: flex;
    flex-direction: column;
}

.game-achievement h3 {
    height: 10%;
}

.game-achievement div {
    padding: 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
}

.game-achievement div img {
    width: 60px;
    height: 60px;
}

/* COMUNIDAD STYLE */

.comunidad-article {
    margin: 5px;
    background-color: #2D2E2E;
    border: solid black 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.comunidad-article span, .comunidad-article div {
    padding: 20px;
}

/* ACERCA DE STYLE */

.acerca_de-section {
    background-color: #2D2E2E;
    padding: 20px;
    border: solid black 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.acerca_de-section-description {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.acerca_de-section-description h3 {
    padding: 20px;
}

.acerca_de-section-description p {
    padding: 0px 20px 20px;
    text-indent: 30px;
}

.acerca_de-section-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.acerca_de-section-images img {
    margin: 20px;
    background-color: #818181;
    width: 150px;
    height: 150px;
}

/* CONTACTO STYLE */

.contacto-section {
    padding: 40px;
    background-color: #2D2E2E;
    border: solid black 1px;
    display: flex;
    flex-direction: column;
}

.contacto-mail {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.contacto-mail label {
    width: 100px;
}

.contacto-mail input {
    width: 250px;
}

.contacto-message {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.contacto-message label {
    width: 100px;
}

.contacto-message textarea {
    width: 250px;
    height: 100px;
}

.contacto-section a {
    width: 250px;
    height: 30px;
    margin-left: 100px;
    text-align: center;
    line-height: 30px;
    background-color: #1E1F1F;
    border: solid black 1px; 
}

.contacto-section a:hover {
    background-color: #0F0F0F;
    text-decoration: none;
}

/* SPECIFIC STYLE */

.margin-left {
    margin-left: 100px;
}

.left-border {
    border-left: solid black 1px;
}

.low-margin {
    margin-bottom: 40px;
}