* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL STYLE*/

/* Paleta de colores
ORIGINAL
OSCURO: #030017
MEDIO:#201e36
CLARO:#2f2c4f

NUEVA
OSCURO: #0F0F0F
MEDIO: #1E1F1F
CLARO: #2D2E2E

*/

body {
    background-color: #2D2E2E;
    color: #b3b3b3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    background-color: #0F0F0F;
    font-family: "Kanit", serif;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

main {
    background-color: #1E1F1F;
    width: 65%;
    font-family: "Signika Negative", serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #0F0F0F;
    font-family: "Signika Negative", serif;
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul{
    display: flex;
}

li {
    list-style: none;
}

footer p {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #b3b3b3;
    margin: 0px 10px;
}

a:hover {
    text-decoration: underline;
}

p, span{
    font-family: "Quicksand", serif;
}


/* SPECIFIC STYLE*/

.index-banner {
    background-color: #818181;
    width: 100%;
    height: 50vh;
}

.index-banner-img {
    width: 100%;
    height: 50vh;
}

.index-category-nav {
    padding: 20px 0px;
    display: flex;
    height: auto;
    width: 100%;
    justify-content: center; 
    align-items: center;
}

.index-category-conteiner {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.index-category-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.index-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.article-mod {
    padding: 5px 5px 5px 0px;
}

.asdarticle div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

article img {
    background-color: #818181;
    height: 20vh;
    width: 100%;
}

.grid-conteiner {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 0.3fr 3fr 4fr;
    grid-template-areas: 
    "search search search search search"
    "aside video video video video"
    "aside play play achiev achiev"
    ;
}

.search {
    grid-area: search;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search h2, .search form {
    margin: 0px 40px;
    padding: 0px 40px;
}

.aside {
    grid-area: aside;
    width: 100%;
    height: 100%;
}

.aside-flex {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.video {
    grid-area: video;
    background-color: #818181;
    width: 100%;
    height: 100%;
}

.game-play {
    grid-area: play;
}

.game-achievement {
    grid-area: achiev;
}

.flex-conteiner {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-conteiner h2 {
    width: 100%;
    padding: 20px;
}

.flex-conteiner section {
    width: 100%;
}

.comunidad-article {
    margin: 5px;
    background-color: #2D2E2E;
    border: solid black 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.comunidad-article div a {
    margin: 0px;
}

.comunidad-article span, .comunidad-article div {
    padding: 20px;
}

.acerca_de-section {
    background-color: #2D2E2E;
    padding: 20px;
    border: solid black 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.acerca_de-section-description {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.acerca_de-section-description h3 {
    padding: 20px;
}

.acerca_de-section-description p {
    padding: 0px 20px;
}

.acerca_de-section-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.acerca_de-section-images img {
    margin: 20px;
    background-color: #818181;
    width: 150px;
    height: 150px;
}

.contacto-section {
    padding: 40px;
    background-color: #2D2E2E;
    border: solid black 1px;
    display: flex;
    flex-direction: column;
}

.contacto-mail {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.contacto-mail label {
    width: 100px;
}

.contacto-mail input {
    width: 250px;
}

.contacto-message {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.contacto-message label {
    width: 100px;
}

.contacto-message textarea {
    width: 250px;
    height: 100px;
}

.margin-left {
    margin-left: 100px;
}

.left-border {
    border-left: solid black 1px;
}

.low-margin {
    margin-bottom: 40px;
}